*.png
*.txt
!requirements-cli.txt
*.html
*.log
experiment/analysis/
Cell/
Cell/wandb/
Cell/Other_Articles/
Cell/Concept/
Cell/Story_Embeddings_SBERT/
Cell/Story_Embeddings_ViTH14/
Cell/Cover_Embeddings_ViTH14/
Nature/
Nature/wandb/
Nature/Other_Articles/
Nature/Concept/
Nature/Story_Embeddings_CLIP/
Nature/Cover_Embeddings_CLIP/
Nature/Story_Embeddings_BERT/
Nature/Story_Embeddings_SBERT/
Nature/Story_Embeddings_ViTH14/
Nature/Cover_Embeddings_ViTH14/
Science/
Science/wandb/
Science/Other_Articles/
Science/Concept/
Science/Story_Embeddings_SBERT/
Science/Story_Embeddings_ViTH14/
Science/Cover_Embeddings_ViTH14/
Data/statistics/
Data/Science/
Data/Cell/
Data/Understanding/MAC_2025/
Data/Nature/
Data/Understanding/Science/
Data/Understanding/Oldest/
Data/Understanding/Cell/
Data/Understanding/Nature/
Data/Understanding/ACS/
Data/Understanding/Total/
Data/Understanding/Total_2026/
Data/Understanding/MAC_2026/
Data/Understanding/latest_10k/
*__pycache__
experiment/results/
Data/book-covers/
ACS/
ACS/debug/
ACS/wandb/
ACS/Other_Articles/
ACS/Concept/
ACS/Story_Embeddings_SBERT/
ACS/Story_Embeddings_ViTH14/
ACS/Cover_Embeddings_ViTH14/
Data/*.csv
wandb/
